/* -----------------PC---------------------- */
@media screen and (min-width:1201px){
/* --------topBanner ---------- */
#topBanner{position: relative; height:600px ; background-image: url(../img/top_banner.jpg); background-position: center; background-size: cover;}
#topBanner .top_inner{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
#topBanner .top_inner h2{font-size: 4em; color: #FFF; font-weight: bold; text-align: center; margin-bottom: 30px;}
#topBanner .top_inner .btn{border-color: #f6f4df; color: #f6f4df; margin: 0 auto; }
#topBanner .top_inner .btn:hover{background-color: #f6f4df; color: #000;}

/* --------golf & merci---------- */
.con1{position: relative; width: 1200px; margin: 100px auto; display: flex;}
.con1 .con1_text{position: relative; width: 50%; display: flex; flex-direction: column; justify-content: center; background-color: #f6f4df; padding: 40px; box-sizing: border-box;}
.con1 .con1_img{position: relative; width: 50%;}
.con1 .con1_img img{width: 100%;}

/* --------polo ---------- */
#polo{position: relative; width: 1200px; margin: 100px auto; text-align: center; }
#polo .btn{margin: 0 auto;}
#polo .polo_list{position: relative; margin: 80px 0; display: flex; justify-content: space-between;}
#polo .polo_list li{width: 32%; position: relative;}
#polo .polo_list li img{width: 100%;}
#polo .polo_list li .over_box{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: flex; flex-direction: column; justify-content: center;  opacity: 0; transition-duration: 0.6s;}
#polo .polo_list li .over_box h3{color: #FFF; font-size: 1.3em; font-weight: bold; position: relative; top: 50px; opacity: 0; transition-duration: 0.6s; transition-delay: 200ms;}
#polo .polo_list li .over_box p{color: #FFF; font-size: 1.1em; position: relative; top: 50px; opacity: 0; transition-duration: 0.6s;transition-delay: 400ms;}
#polo .polo_list li .over_box:hover{opacity: 1;}
#polo .polo_list li .over_box:hover h3{top: 0; opacity: 1;}
#polo .polo_list li .over_box:hover p{top: 0; opacity: 1;}
/* --------midBanner ---------- */
#midBanner{position: relative; height: 700px; background-image: url(../img/edition_main.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;}
#midBanner .mid_inner{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center;}
#midBanner .mid_inner .btn{margin: 0 auto;}
}


/* -----------------Tablet 가로---------------------- */
@media screen and (max-width:1200px) and (min-width:901px) {   
   /* --------topBanner ---------- */
   #topBanner{position: relative; height:600px ; background-image: url(../img/top_banner.jpg); background-position: center; background-size: cover;}
   #topBanner .top_inner{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
   #topBanner .top_inner h2{font-size: 4em; color: #FFF; font-weight: bold; text-align: center; margin-bottom: 30px;}
   #topBanner .top_inner .btn{border-color: #f6f4df; color: #f6f4df; margin: 0 auto; }
   #topBanner .top_inner .btn:hover{background-color: #f6f4df; color: #000;}
   
   /* --------golf & merci---------- */
   .con1{position: relative; width: 92%; margin: 100px auto; display: flex;}
   .con1 .con1_text{position: relative; width: 50%; display: flex; flex-direction: column; justify-content: center; background-color: #f6f4df; padding: 30px; box-sizing: border-box; font-size: 0.9em;}
   .con1 .con1_img{position: relative; width: 50%;}
   .con1 .con1_img img{width: 100%;}
   
   /* --------polo ---------- */
   #polo{position: relative; width: 91%; margin: 100px auto; text-align: center; }
   #polo .btn{margin: 0 auto;}
   #polo .polo_list{position: relative; margin: 80px 0; display: flex; justify-content: space-between;}
   #polo .polo_list li{width: 32%; position: relative;}
   #polo .polo_list li img{width: 100%;}
   #polo .polo_list li .over_box{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: flex; flex-direction: column; justify-content: center;  opacity: 0; transition-duration: 0.6s;}
   #polo .polo_list li .over_box h3{color: #FFF; font-size: 1.3em; font-weight: bold; position: relative; top: 50px; opacity: 0; transition-duration: 0.6s; transition-delay: 200ms;}
   #polo .polo_list li .over_box p{color: #FFF; font-size: 1.1em; position: relative; top: 50px; opacity: 0; transition-duration: 0.6s;transition-delay: 400ms;}
   #polo .polo_list li .over_box:hover{opacity: 1;}
   #polo .polo_list li .over_box:hover h3{top: 0; opacity: 1;}
   #polo .polo_list li .over_box:hover p{top: 0; opacity: 1;}
   /* --------midBanner ---------- */
   #midBanner{position: relative; height: 500px; background-image: url(../img/edition_main.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;}
   #midBanner .mid_inner{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center;}
   #midBanner .mid_inner .btn{margin: 0 auto;}  
}


   
/* -----------------Tablet 세로---------------------- */
@media screen and (max-width:900px) and (min-width:601px) {
   /* --------topBanner ---------- */
   #topBanner{position: relative; height:400px ; background-image: url(../img/top_banner.jpg); background-position: center; background-size: cover;}
   #topBanner .top_inner{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
   #topBanner .top_inner h2{font-size: 3em; color: #FFF; font-weight: bold; text-align: center; margin-bottom: 30px;}
   #topBanner .top_inner .btn{border-color: #f6f4df; color: #f6f4df; margin: 0 auto; }
   #topBanner .top_inner .btn:hover{background-color: #f6f4df; color: #000;}
   
   /* --------golf & merci---------- */
   .con1{position: relative; width: 92%; margin: 100px auto;}
   .con1 .con1_text{position: relative;  display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 30px; box-sizing: border-box; font-size: 0.9em; text-align: center;  margin-bottom: 50px;}
   .con1 .con1_img{position: relative; }
   .con1 .con1_img img{width: 100%;}
   
   /* --------polo ---------- */
   #polo{position: relative; width: 91%; margin: 100px auto; text-align: center; }
   #polo .btn{margin: 0 auto;}
   #polo .polo_list{position: relative; margin: 80px 0; display: flex; justify-content: space-between;}
   #polo .polo_list li{width: 32%; position: relative;}
   #polo .polo_list li img{width: 100%;}
   #polo .polo_list li .over_box{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: flex; flex-direction: column; justify-content: center;  opacity: 0; transition-duration: 0.6s;}
   #polo .polo_list li .over_box h3{color: #FFF; font-size: 1.3em; font-weight: bold; position: relative; top: 50px; opacity: 0; transition-duration: 0.6s; transition-delay: 200ms;}
   #polo .polo_list li .over_box p{color: #FFF; font-size: 1.1em; position: relative; top: 50px; opacity: 0; transition-duration: 0.6s;transition-delay: 400ms;}
   #polo .polo_list li .over_box:hover{opacity: 1;}
   #polo .polo_list li .over_box:hover h3{top: 0; opacity: 1;}
   #polo .polo_list li .over_box:hover p{top: 0; opacity: 1;}

   /* --------midBanner ---------- */
   #midBanner{position: relative; height: 400px; background-image: url(../img/edition_main.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;}
   #midBanner .mid_inner{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; width: 80%;}
   #midBanner .mid_inner .btn{margin: 0 auto;}
}

/* -----------------Mobile---------------------- */
@media screen and (max-width:600px) {
   /* --------topBanner ---------- */
   #topBanner{position: relative; height:400px ; background-image: url(../img/top_banner.jpg); background-position: center; background-size: cover;}
   #topBanner .top_inner{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
   #topBanner .top_inner h2{font-size: 2em; color: #FFF; font-weight: bold; text-align: center; margin-bottom: 30px;}
   #topBanner .top_inner .btn{border-color: #f6f4df; color: #f6f4df; margin: 0 auto; }
   #topBanner .top_inner .btn:hover{background-color: #f6f4df; color: #000;}
   
   /* --------golf & merci---------- */
   .con1{position: relative; width: 92%; margin: 50px auto;}
   .con1 .con1_text{position: relative;  display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 30px; box-sizing: border-box; font-size: 0.9em; text-align: center;  margin-bottom: 50px;}
   .con1 .con1_img{position: relative; }
   .con1 .con1_img img{width: 100%;}
   
   /* --------polo ---------- */
   #polo{position: relative; width: 92%; margin: 50px auto; text-align: center; }
   #polo .btn{margin: 0 auto;}
   #polo .polo_list{position: relative; margin: 50px 0; display: flex; justify-content: space-between;}
   #polo .polo_list li{width: 32%; position: relative;}
   #polo .polo_list li img{width: 100%;}
   #polo .polo_list li .over_box{position: relative; }
   #polo .polo_list li .over_box h3{color: #000; font-size: 1em; font-weight: bold; position: relative;}
   #polo .polo_list li .over_box p{color: #000; font-size: 1em; position: relative; }


   /* --------midBanner ---------- */
   #midBanner{position: relative; height: 400px; background-image: url(../img/edition_main.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;}
   #midBanner .mid_inner{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; width: 80%;}
   #midBanner .mid_inner .btn{margin: 0 auto;}
}